*{
    font-family: 'Montserrat',sans-serif;
    margin:0;
    background-color: black;
    color: white;
    overflow: hidden;
}
.main{
    display: flex;
    height:100vh;
    padding: 0.5rem;
}
.sidebar{
    background-color: #000;
    width: 350px;
    border-radius: 1rem;    /*16px*/
    margin-right: 0.5rem;

}
.main-content{
    background-color: #121212;
    flex:1;
    border-radius: 1rem;    /*16px*/
    overflow: scroll;
    padding: 0 1.5rem 0 1.5rem;
}

a{
    text-decoration: none;
    background-color: #fff;
    background-color: #121212
}
.nav{
    background-color: #121212;
    border-radius: 1rem;    /*16px*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem; /*on spotify it was 8px(left and right) 12px(top and bottom) */
}
.nav-option{
    line-height: 2.5rem;
    opacity: 0.75;
    padding: 0.5rem 0.75rem;
    background-color: #121212;
}
.nav-option:hover{
    /* line-height: 2.5rem; */
    opacity: 1;
}
.nav-option i{
    font-size: 1.25rem;
    background-color: #121212;
}
.nav-option a{
    font-size: 1rem;
    margin-left: 1rem; /* gap for icon and text */
    background-color: #121212;
}
.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
    margin-top: 1rem;
    margin-left: 1rem;
}
.lib-option,.lib-box{
    background-color: #121212;
}
.lib-option img{
    height: 1.15rem;
    width: 1.25rem;
    background-color: #121212;
    opacity: 0.75;
}
.lib-option a{
    font-weight: 500;
    font-size: 1.15rem;
    opacity: 0.75;
    margin-left: 1rem;
    background-color: #121212;
}
#plus{
    opacity: 0.75;
    margin-right:1rem;
    background-color: #121212;
    font-size: large;
}
#plus:hover{
    opacity: 1;
}
.library i:hover,.library a:hover,.library img:hover{
    opacity: 1;
}
.icons{
    background-color: #121212;
}
.box{
    height:8rem;
    background-color: #232323;
    border-radius: 0.75rem;
    margin-top: 2rem; /*given in inspect 8px*/
    margin-bottom: 0.5rem;
    padding:1rem 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.box-p1{
    font-size: 1rem;
    font-weight: 500;
    background:#232323;
}
.box-p2{
    font-size: 0.87rem;
    opacity:0.9;
    background-color: #232323;
}
.badge{ /* badge mean capsule form buttom */
    background-color: white;
    color: black;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height:2rem;
    width:fit-content;
}

.sticky-nav{
    position: sticky;
    top:0px;
    height: 2.5rem;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
}
.fb{
    margin-left: 1rem;
    height: 2.5rem;
    width: 8rem;
    display: flex;
    justify-content: center;
    background-color: #121212;
    align-content: center;
}
.f,.b{
    width: 3rem;
    text-align: center;
    background-color: #121212;
    
}
.f i,.b i{
    font-size: 1.75rem;
    background-color: #121212;
}

.download{
    margin:0 ;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #121212;
}
.download button,.download i{
    margin-right: 2rem;
    margin-top: 0;
}
#btn2{
    background-color: #121212;
    color: white;
    background-color: #121212;
}
#user{
    margin-right:1rem ;
    background-color: #121212;
    text-align: center;
}

/* .cards{
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: #121212;
} */
/* .cards-container{
    display:flex;
    background-color: #121212;
} */
.cardDiv{
    width: 185px;
    height: 300px;
    padding: 0.5rem;
    background-color: #232323;
    border-radius: 0.5rem;
    margin: 0.3rem;
}
.cardDiv:hover {
    transform: scale(1.05); /* Scale up the card on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase the shadow */
}
.card-img{
    border-radius: 0.5rem;
    width: 100%;
}
.cards-container{
    display: flex;
    flex-wrap: wrap;
    width: 100% ;
    height: 310px;
    background-color: #121212;
    border-radius: 0.5rem;

}
.card-title{
    font-weight: 700;
}
.card-info{
    font-size: 0.10rem;
    opacity: 0.8;
}
.music-player{
    background-color:black;
    position:fixed;
    display: flex;
    flex-direction: column;
    bottom:0px;
    width:100%;
    height: 90px;
}
.part1{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 65%;
}
.part2{
    text-align: center;
    height: 35%;
}
.image-icon{
    width: 25px;
    height: 1rem;
    margin: 0%;
    margin-top: 20px;
    opacity: 0.7;
    margin-left: 50px;
}
.image-icon:hover{
    opacity: 1;
}
.progress{
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}
.progress::-webkit-slider-runnable-track{
    height: 0.20rem;
    background-color: #ddd;
    border-radius: 100px;
}
.progress::-webkit-slider-thumb{
    appearance: none;
    height: 2rem;
    width: 2rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
}


